Repository fullstacktf/fitness-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @kdcr @neikox @pa-perz @raulrodrigueztorres
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Move stories to adequate folder
  frontend/src/components/atomic/button /Button.stories.tsx
  frontend/src/components/atomic/feature/Feature.stories.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.stories.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.stories.tsx
  frontend/src/components/atomic/team-member/TeamMember.stories.tsx
  frontend/src/components/atomic/text-field/TextField.stories.tsx
  frontend/src/components/layout/footer/Footer.stories.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.stories.tsx
Owners: @raulanatol

happy little accident
  frontend/src/components/atomic/navbar-image/NavbarImage.tsx
Owners: @raulanatol

Auth services and minor fixs
  frontend/package.json
  frontend/src/.eslintrc
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/atomic/spinner/Spinner.stories.tsx
  frontend/src/components/atomic/spinner/Spinner.tsx
  frontend/src/components/atomic/spinner/__tests__/Spinner.test.tsx
  frontend/src/components/atomic/text-field/TextField.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/login-form/__tests__/LoginForm.test.tsx
  frontend/src/components/layout/login/Login.tsx
  frontend/src/components/layout/login/__tests__/Login.test.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/register-form/__tests__/RegisterForm.test.tsx
  frontend/src/components/layout/register/Register.tsx
  frontend/src/components/layout/register/__tests__/Register.test.tsx
  frontend/src/utils/utils.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Docker bind port changed
  .github/workflows/CI_CD.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Landing page IDs added
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @raulanatol

FeaturePanel return type removed
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
Owners: @raulanatol

Added package-lock.json to .gitignore
  .gitignore
  frontend/package-lock.json
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Dynamic list development
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
Owners: @raulanatol

minor fixes
  frontend/package-lock.json
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Added description and ItemHeader
  frontend/package-lock.json
  frontend/src/components/atomic/description/Description.stories.tsx
  frontend/src/components/atomic/description/Description.tsx
  frontend/src/components/atomic/item-header/ItemHeader.stories.tsx
  frontend/src/components/atomic/item-header/ItemHeader.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Fix register
  frontend/src/components/layout/register-form/RegisterForm.tsx
Owners: @raulanatol

Dynamic list development
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
Owners: @raulanatol

Profile component simple design and dynamic information added
  frontend/src/App.tsx
  frontend/src/components/atomic/profile-element/ProfileElement.stories.tsx
  frontend/src/components/atomic/profile-element/ProfileElement.tsx
  frontend/src/components/atomic/routine-exercise/RoutineExercise.stories.tsx
  frontend/src/components/atomic/routine-exercise/RoutineExercise.tsx
  frontend/src/components/layout/profile/Profile.stories.tsx
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/profile/assets/defaultProfilePicture.png
  frontend/src/components/layout/routine-panel/RoutinePanel.stories.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.tsx
  frontend/src/components/layout/routine-panel/assets/defaultExercisePicture.svg
  frontend/src/utils/utils.tsx
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Added tailwind
  frontend/package.json
  frontend/tailwind.config.js
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @ManzDev

Landing story
  frontend/src/components/layout/landing/Landing.stories.tsx
Owners: @raulanatol

style fixed
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @raulanatol

Added user CRUD
  frontend/src/App.tsx
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
  frontend/src/components/layout/user-crud/UserCrud.tsx
Owners: @raulanatol

style fixed 2
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @raulanatol

Added routine-item and exercise-item
  frontend/src/components/layout/exercise-item/ExerciseItem.stories.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/routine-item/RoutineItem.stories.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
Owners: @raulanatol

Added routine-item and exercise-item with test text
  frontend/src/components/atomic/description/Description.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
Owners: @raulanatol

Added routine-item and exercise-item style fixed
  frontend/src/components/atomic/description/Description.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.tsx
Owners: @raulanatol

Added new images and modified initial documentation
  README.md
  docs/img/Exercise-Panel.png
  docs/img/Exercise.png
  docs/img/Landing-Page.png
  docs/img/Profile-Page.png
  docs/img/Routine-Panel.png
  docs/img/Routine.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

happy little accident
  .gitignore
  frontend/package-lock.json
  frontend/package.json
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Profile finished
  frontend/package.json
  frontend/src/components/atomic/routine-exercise/RoutineExercise.tsx
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/profile/assets/defaultExercisePicture.svg
  frontend/src/components/layout/routine-panel/RoutinePanel.tsx
  frontend/src/utils/utils.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

UserRoutinePanel name changed
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.stories.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.stories.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.tsx
  frontend/src/components/layout/user-routine-panel/assets/defaultExercisePicture.svg
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

ProfileElement unused var removed
  frontend/src/components/atomic/profile-element/ProfileElement.tsx
Owners: @raulanatol

Profile fixed
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.tsx
Owners: @raulanatol

All cruds development and dynamic list update
  frontend/src/App.tsx
  frontend/src/components/layout/base-exercise-crud/BaseExerciseCrud.tsx
  frontend/src/components/layout/base-routine-crud/BaseRoutineCrud.tsx
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
  frontend/src/components/layout/exercise-category-crud/ExerciseCategoryCrud.tsx
  frontend/src/components/layout/muscle-crud/MuscleCrud.tsx
  frontend/src/components/layout/permission-crud/PermissionCrud.tsx
  frontend/src/components/layout/role-crud/RoleCrud.tsx
  frontend/src/components/layout/routine-category-crud/RoutineCategoryCrud.tsx
Owners: @raulanatol

refactor tailwind to finish
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atomic/button /Button.tsx
  frontend/src/components/atomic/description/Description.tsx
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/layout/dynamic-list/DynamicList.stories.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Simple exercises and routines pages
  frontend/src/App.tsx
  frontend/src/components/atomic/exercise/Exercise.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.tsx
  frontend/src/components/atomic/routine/Routine.tsx
  frontend/src/components/layout/exercise-page/ExercisePage.tsx
  frontend/src/components/layout/exercise-panel/ExercisePanel.stories.tsx
  frontend/src/components/layout/exercise-panel/ExercisePanel.tsx
  frontend/src/components/layout/exercise-panel/assets/defaultExercisePicture.svg
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
  frontend/src/components/layout/routine-page/RoutinePage.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.stories.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.tsx
  frontend/src/components/layout/routine-panel/assets/defaultExercisePicture.svg
  frontend/src/utils/utils.tsx
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

X-Frame-Option Problem
  frontend/src/App.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
Owners: @raulanatol

URL Fixed
  frontend/src/components/atomic/profile-element/ProfileElement.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/user-crud/UserCrud.tsx
Owners: @raulanatol

Add picture and modified README
  README.md
  docs/img/Contact.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Exercises and Routines Panels added
  frontend/src/App.tsx
  frontend/src/components/atomic/description/Description.tsx
  frontend/src/components/atomic/item-header/ItemHeader.tsx
  frontend/src/components/atomic/muscle/Muscle.stories.tsx
  frontend/src/components/atomic/muscle/Muscle.tsx
  frontend/src/components/atomic/routine-exercise/RoutineExercise.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/exercise-page/ExercisePage.tsx
  frontend/src/components/layout/footer/Footer.tsx
  frontend/src/components/layout/landing/Landing.tsx
  frontend/src/components/layout/muscle-panel/MusclePanel.stories.tsx
  frontend/src/components/layout/muscle-panel/MusclePanel.tsx
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
  frontend/src/components/layout/routine-page/RoutinePage.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.tsx
  frontend/src/utils/utils.tsx
Owners: @raulanatol

Routine and Exercise items code refactored
  frontend/src/components/atomic/text-field/TextField.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
Owners: @raulanatol

Added click action on crud list items
  frontend/src/App.tsx
  frontend/src/components/layout/base-exercise-crud/BaseExerciseCrud.tsx
  frontend/src/components/layout/base-routine-crud/BaseRoutineCrud.tsx
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
  frontend/src/components/layout/exercise-category-crud/ExerciseCategoryCrud.tsx
  frontend/src/components/layout/muscle-crud/MuscleCrud.tsx
  frontend/src/components/layout/permission-crud/PermissionCrud.tsx
  frontend/src/components/layout/role-crud/RoleCrud.tsx
  frontend/src/components/layout/routine-category-crud/RoutineCategoryCrud.tsx
  frontend/src/components/layout/user-crud-panel/UserCrudPanel.tsx
Owners: @raulanatol

Style fixes
  frontend/src/components/atomic/exercise/Exercise.tsx
  frontend/src/components/atomic/routine-exercise/RoutineExercise.tsx
  frontend/src/components/atomic/routine/Routine.tsx
  frontend/src/components/layout/routine-page/RoutinePage.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.tsx
Owners: @raulanatol

Title page changed
  frontend/public/index.html
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Favicon changed
  frontend/public/favicon-16x16.png
  frontend/public/favicon.ico
  frontend/public/index.html
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Added
  frontend/src/App.tsx
  frontend/src/components/layout/contact-page/ContactPage.stories.tsx
  frontend/src/components/layout/contact-page/ContactPage.tsx
  frontend/src/components/layout/contact-page/assets/linkedin-logo.png
  frontend/src/components/layout/contact-page/assets/twitter-logo.png
  frontend/src/components/layout/contact-page/assets/youtube-logo.png
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres
