Repository fullstacktf/fitness-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Removed old pictures
  README.md
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Added the new pictures
  README.md
  docs/img/Landing-Page.png
  docs/img/Login-Page.png
  docs/img/Profile-Page.png
  docs/img/Register-Page.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

New scaffolding and improved Docker configuration
  .dockerignore
  Dockerfile
  entrypoint.sh
  frontend/.babelrc
  frontend/.browserslistrc
  frontend/.editorconfig
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.htmlhintrc
  frontend/.postcssrc
  frontend/.prettierrc
  frontend/.stylelintrc
  frontend/package.json
  frontend/src/css/index.css
  frontend/src/index.html
  frontend/src/js/index.js
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol

.editorconfig file moved to the root of the proyect.
  .editorconfig
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Files formatted with new line break
  .dockerignore
  .editorconfig
  Dockerfile
  frontend/.babelrc
  frontend/.browserslistrc
  frontend/.htmlhintrc
  frontend/src/css/index.css
  frontend/src/index.html
  frontend/src/js/index.js
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol

Added CI/CD workflow for new versions
  .github/workflows/CI_CD.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Added Pull Request workflow
  .github/workflows/Pull_Request.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Created basic authentication page and deleted old scaffolding
  frontend/.babelrc
  frontend/.browserslistrc
  frontend/.eslintcache
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.htmlhintrc
  frontend/.postcssrc
  frontend/.prettierrc
  frontend/.stylelintrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/authentication/AuthenticationButton.tsx
  frontend/src/components/authentication/AuthenticationTextField.tsx
  frontend/src/components/authentication/LoginPage.tsx
  frontend/src/css/index.css
  frontend/src/index.css
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/src/js/index.js
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Added some new components
  .vscode/settings.json
  frontend/.eslintcache
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/.eslintrc.json
  frontend/src/.prettierrc
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Register.tsx
  frontend/src/components/authentication/AuthenticationTextField.tsx
  frontend/src/components/authentication/LoginPage.tsx
  frontend/src/components/button /Button.tsx
  frontend/src/components/button /__tests__/Button.test.tsx
  frontend/src/components/login-form/LoginForm.tsx
  frontend/src/components/login-form/__tests__/LoginForm.test.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/login/__tests__/Login.test.tsx
  frontend/src/components/text-field/TextField.tsx
  frontend/src/components/text-field/__tests__/TextField.test.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

changes
  frontend/.eslintcache
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/.eslintrc.json
  frontend/src/.prettierrc
  frontend/src/App.tsx
  frontend/src/Register.tsx
  frontend/src/components/button /Button.stories.tsx
  frontend/src/index.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Button.tsx
  frontend/src/stories/Header.stories.tsx
  frontend/src/stories/Header.tsx
  frontend/src/stories/Introduction.stories.mdx
  frontend/src/stories/Page.stories.tsx
  frontend/src/stories/Page.tsx
  frontend/src/stories/assets/code-brackets.svg
  frontend/src/stories/assets/colors.svg
  frontend/src/stories/assets/comments.svg
  frontend/src/stories/assets/direction.svg
  frontend/src/stories/assets/flow.svg
  frontend/src/stories/assets/plugin.svg
  frontend/src/stories/assets/repo.svg
  frontend/src/stories/assets/stackalt.svg
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @ManzDev

Linters
  frontend/.eslintcache
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/.eslintrc
  frontend/src/.prettierrc
  frontend/src/App.tsx
  frontend/src/components/button /__tests__/Button.test.tsx
  frontend/src/components/login-form/__tests__/LoginForm.test.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/text-field/__tests__/TextField.test.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Added stories
  frontend/.eslintcache
  frontend/src/App.tsx
  frontend/src/components/button /Button.stories.tsx
  frontend/src/components/button /Button.tsx
  frontend/src/components/login-form/LoginForm.stories.tsx
  frontend/src/components/login-form/LoginForm.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/text-field/TextField.stories.tsx
  frontend/src/components/text-field/TextField.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Button.tsx
  frontend/src/stories/Header.stories.tsx
  frontend/src/stories/Header.tsx
  frontend/src/stories/Introduction.stories.mdx
  frontend/src/stories/Page.stories.tsx
  frontend/src/stories/Page.tsx
  frontend/src/stories/assets/code-brackets.svg
  frontend/src/stories/assets/colors.svg
  frontend/src/stories/assets/comments.svg
  frontend/src/stories/assets/direction.svg
  frontend/src/stories/assets/flow.svg
  frontend/src/stories/assets/plugin.svg
  frontend/src/stories/assets/repo.svg
  frontend/src/stories/assets/stackalt.svg
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @ManzDev

Simple Register and Login views
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/button /Button.tsx
  frontend/src/components/login-form/LoginForm.stories.tsx
  frontend/src/components/register-form/RegisterForm.stories.tsx
  frontend/src/components/register-form/RegisterForm.tsx
  frontend/src/components/register-form/__tests__/RegisterForm.test.tsx
  frontend/src/components/register/Register.stories.tsx
  frontend/src/components/register/Register.tsx
  frontend/src/components/register/__tests__/Register.test.tsx
  frontend/src/components/text-field/TextField.tsx
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Button border and outline removed
  frontend/src/components/button /Button.tsx
Owners: @raulanatol

Added structure (missing tests and stories)
  frontend/.eslintcache
  frontend/src/App.tsx
  frontend/src/components/atomic/button /Button.stories.tsx
  frontend/src/components/atomic/button /Button.tsx
  frontend/src/components/atomic/button /__tests__/Button.test.tsx
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/atomic/text-field/TextField.stories.tsx
  frontend/src/components/atomic/text-field/TextField.tsx
  frontend/src/components/atomic/text-field/__tests__/TextField.test.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/footer/Footer.tsx
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/landing/Landing.tsx
  frontend/src/components/layout/login-form/LoginForm.stories.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/login-form/__tests__/LoginForm.test.tsx
  frontend/src/components/layout/login/Login.stories.tsx
  frontend/src/components/layout/login/Login.tsx
  frontend/src/components/layout/login/__tests__/Login.test.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/register-form/RegisterForm.stories.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/register-form/__tests__/RegisterForm.test.tsx
  frontend/src/components/layout/register/Register.stories.tsx
  frontend/src/components/layout/register/Register.tsx
  frontend/src/components/layout/register/__tests__/Register.test.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Added tests render components
  frontend/src/components/atomic/feature/__tests__/Feature.test.tsx
  frontend/src/components/atomic/navbar-element/__tests__/NavbarElement.test.tsx
  frontend/src/components/atomic/review/__tests__/Review.test.tsx
  frontend/src/components/atomic/team-member/__tests__/TeamMember.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Added Hero story.
  frontend/.eslintcache
  frontend/src/components/layout/hero/Hero.stories.tsx
  frontend/src/components/layout/hero/Hero.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Added tests render components checked
  frontend/src/components/layout/feature-panel/__tests__/FeaturePanel.test.tsx
  frontend/src/components/layout/footer/Footer.stories.tsx
  frontend/src/components/layout/footer/Footer.tsx
  frontend/src/components/layout/footer/__tests__/Footer.test.tsx
  frontend/src/components/layout/hero/__tests__/Hero.test.tsx
  frontend/src/components/layout/landing/Landing.tsx
  frontend/src/components/layout/landing/__tests__/Landing.test.tsx
  frontend/src/components/layout/login/__tests__/Login.test.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/navbar/__tests__/NavBar.test.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
  frontend/src/components/layout/review-panel/__tests__/ReviewPanel.test.tsx
  frontend/src/components/layout/team-member-panel/__tests__/TeamMemberPanel.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Workflow fixed
  .dockerignore
  .github/workflows/CI_CD.yml
  .github/workflows/Pull_Request.yml
  Dockerfile
  frontend/package.json
  frontend/src/components/layout/register/__tests__/Register.test.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Created navbar and its elements
  frontend/src/components/atomic/navbar-element/NavbarElement.stories.tsx
  frontend/src/components/atomic/navbar-element/__tests__/NavbarElement.test.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.stories.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.tsx
  frontend/src/components/atomic/navbar-image/__tests__/NavbarImage.test.tsx
  frontend/src/components/atomic/navbar-image/__tests__/assets/test_logo.png
  frontend/src/components/layout/navbar/Navbar.stories.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/navbar/__tests__/Navbar.test.tsx
  frontend/src/components/layout/navbar/assets/YouLiftLogo.png
  frontend/src/components/layout/navbar/assets/social-media/GitHub-Mark-32px.png
  frontend/src/components/layout/navbar/assets/social-media/GitHub-Mark-64px.png
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Merge conflicts resolved
  frontend/.eslintcache
  frontend/src/components/layout/navbar/__tests__/NavBar.test.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Uncomplete Hero and ReviewPanel
  frontend/.eslintcache
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/hero/assets/working_out.svg
  frontend/src/components/layout/login-form/__tests__/LoginForm.test.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.stories.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez

Added Footer style
  frontend/.eslintcache
  frontend/src/components/layout/footer/Footer.stories.tsx
  frontend/src/components/layout/footer/Footer.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

FeaturePanel and its elements
  frontend/src/App.css
  frontend/src/components/atomic/feature/Feature.stories.tsx
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/atomic/feature/__tests__/Feature.test.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.stories.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/feature-panel/__tests__/FeaturePanel.test.tsx
  frontend/src/components/layout/landing/Landing.tsx
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Login and Register fixs
  frontend/src/components/layout/login-form/LoginForm.stories.tsx
  frontend/src/components/layout/login/Login.stories.tsx
  frontend/src/components/layout/login/Login.tsx
  frontend/src/components/layout/register-form/RegisterForm.stories.tsx
  frontend/src/components/layout/register/Register.stories.tsx
  frontend/src/components/layout/register/Register.tsx
Owners: @raulanatol

Added Team Members styles
  frontend/.eslintcache
  frontend/src/components/atomic/team-member/TeamMember.stories.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.stories.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Feature return refactored
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
Owners: @raulanatol

Added Hero and ReviewPanel
  frontend/.eslintcache
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/layout/hero/Hero.stories.tsx
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.stories.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Navbar position fixed and box shadow added
  frontend/src/components/layout/navbar/Navbar.tsx
Owners: @raulanatol

Footer text fixed
  frontend/src/components/layout/footer/Footer.tsx
Owners: @raulanatol

minor fixes
  frontend/.eslintcache
  frontend/.gitignore
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

minor fixes
  frontend/.eslintcache
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Routing added
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol

Error in tests (outside a router) fixed
  frontend/src/components/atomic/navbar-element/__tests__/NavbarElement.test.tsx
  frontend/src/components/layout/landing/__tests__/Landing.test.tsx
  frontend/src/components/layout/navbar/__tests__/Navbar.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Some minor modifications to components and navbar
  frontend/src/components/atomic/review/Review.stories.tsx
  frontend/src/components/atomic/routine/Routine.stories.tsx
  frontend/src/components/atomic/routine/Routine.tsx
  frontend/src/components/layout/navbar/Navbar.stories.tsx
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
  frontend/src/components/layout/routine-page/RoutinePage.stories.tsx
  frontend/src/components/layout/routine-page/RoutinePage.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.stories.tsx
  frontend/src/components/layout/routine-panel/RoutinePanel.tsx
Owners: @raulanatol

Storybook router fixed
  frontend/.storybook/preview.js
Owners: @raulanatol, @ManzDev

Filter Panel
  frontend/src/components/atomic/filter-panel/FilterPanel.stories.tsx
  frontend/src/components/atomic/filter-panel/FilterPanel.tsx
  frontend/src/components/layout/navbar/Navbar.stories.tsx
Owners: @raulanatol

Added Exercise
  frontend/src/components/atomic/exercise/Exercise.stories.tsx
  frontend/src/components/atomic/exercise/Exercise.tsx
  frontend/src/components/layout/exercise-page/ExercisePage.stories.tsx
  frontend/src/components/layout/exercise-page/ExercisePage.tsx
  frontend/src/components/layout/exercise-panel/ExercisePanel.stories.tsx
  frontend/src/components/layout/exercise-panel/ExercisePanel.tsx
Owners: @raulanatol

Replaced Inter V for Inter
  frontend/src/components/atomic/text-field/TextField.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/login/Login.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/register/Register.tsx
Owners: @raulanatol

Adequate Props interface
  frontend/src/components/atomic/button /Button.tsx
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/atomic/text-field/TextField.tsx
Owners: @raulanatol

.github/CODEOWNERS:

* @kdcr @neikox @pa-perz @raulrodrigueztorres
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez
