Repository fullstacktf/fitness-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @kdcr @neikox @pa-perz @raulrodrigueztorres
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Added pictures
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
  frontend/src/components/layout/team-member-panel/assets/kdcr.jpg
  frontend/src/components/layout/team-member-panel/assets/neikox.jpg
  frontend/src/components/layout/team-member-panel/assets/paperz.jpg
  frontend/src/components/layout/team-member-panel/assets/raul.jpg
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Content added
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/feature-panel/assets/exerciseItemYouLift.png
  frontend/src/components/layout/feature-panel/assets/profileYouLift.png
  frontend/src/components/layout/feature-panel/assets/routineYouLift.png
  frontend/src/components/layout/review-panel/ReviewPanel.tsx
  frontend/src/components/layout/review-panel/assets/edgar-poe.jpeg
  frontend/src/components/layout/review-panel/assets/john-smith.jpeg
  frontend/src/components/layout/review-panel/assets/mary-sue.jpeg
Owners: @raulanatol, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Goodbye test
  frontend/src/components/layout/feature-panel/__tests__/FeaturePanel.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

refactor tailwind almost
  frontend/src/components/atomic/filter-panel/FilterPanel.tsx
  frontend/src/components/atomic/item-header/ItemHeader.tsx
  frontend/src/components/atomic/navbar-element/NavbarElement.tsx
  frontend/src/components/atomic/navbar-image/NavbarImage.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/atomic/routine/Routine.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/atomic/text-field/TextField.tsx
  frontend/src/components/layout/exercise-page/ExercisePage.tsx
  frontend/src/components/layout/feature-panel/FeaturePanel.tsx
  frontend/src/components/layout/footer/Footer.tsx
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/landing/Landing.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/login/Login.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/register/Register.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
  frontend/src/components/layout/routine-page/RoutinePage.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
  frontend/src/components/layout/user-crud/UserCrud.tsx
Owners: @raulanatol

Change link to register
  frontend/src/components/layout/hero/Hero.tsx
Owners: @raulanatol

refactor tailwind fixed
  frontend/src/components/atomic/button /Button.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/layout/contact-page/ContactPage.tsx
  frontend/src/components/layout/login-form/LoginForm.tsx
  frontend/src/components/layout/register-form/RegisterForm.tsx
  frontend/src/components/layout/team-member-panel/TeamMemberPanel.tsx
Owners: @raulanatol

Added base routine crud panel. Major fixes on all cruds
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/atomic/button /Button.tsx
  frontend/src/components/layout/base-exercise-crud/BaseExerciseCrud.tsx
  frontend/src/components/layout/base-routine-crud/BaseRoutineCrud.tsx
  frontend/src/components/layout/dynamic-list/DynamicList.tsx
  frontend/src/components/layout/exercise-category-crud/ExerciseCategoryCrud.tsx
  frontend/src/components/layout/muscle-crud/MuscleCrud.tsx
  frontend/src/components/layout/permission-crud/PermissionCrud.tsx
  frontend/src/components/layout/role-crud/RoleCrud.tsx
  frontend/src/components/layout/routine-category-crud/RoutineCategoryCrud.tsx
  frontend/src/components/layout/routine-crud-panel/RoutineCrudPanel.tsx
  frontend/src/components/layout/user-crud-panel/UserCrudPanel.tsx
  frontend/src/components/layout/user-crud/UserCrud.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

tailwind landing fixes
  frontend/src/components/atomic/feature/Feature.tsx
  frontend/src/components/atomic/review/Review.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
Owners: @raulanatol

Navbar user name size changed
  frontend/src/components/layout/navbar/Navbar.tsx
Owners: @raulanatol

DynamicList Stories Added
  frontend/src/components/layout/dynamic-list/DynamicList.stories.tsx
Owners: @raulanatol

Added delete button on routnes in user crud panel
  frontend/src/components/layout/routine-crud-panel/RoutineCrudPanel.tsx
  frontend/src/components/layout/user-crud-panel/UserCrudPanel.tsx
Owners: @raulanatol

Added stories to all cruds
  frontend/src/components/layout/base-exercise-crud/BaseExerciseCrud.stories.tsx
  frontend/src/components/layout/base-routine-crud/BaseRoutineCrud.stories.tsx
  frontend/src/components/layout/exercise-category-crud/ExerciseCategoryCrud.stories.tsx
  frontend/src/components/layout/muscle-crud/MuscleCrud.stories.tsx
  frontend/src/components/layout/permission-crud/PermissionCrud.stories.tsx
  frontend/src/components/layout/role-crud/RoleCrud.stories.tsx
  frontend/src/components/layout/routine-category-crud/RoleCrud.stories.tsx
  frontend/src/components/layout/routine-crud-panel/RoutineCrudPanel.stories.tsx
  frontend/src/components/layout/user-crud-panel/UserCrudPanel.stories.tsx
  frontend/src/components/layout/user-crud/UserCrud.stories.tsx
Owners: @raulanatol

Added Dropdown Crud
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atomic/dropdown-menu/DropdownCrud.stories.tsx
  frontend/src/components/atomic/dropdown-menu/DropdownCrud.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Minor fixes
  frontend/src/components/atomic/dropdown-menu/DropdownCrud.tsx
  frontend/src/components/layout/navbar/Navbar.tsx
Owners: @raulanatol

tailwind fixes
  frontend/src/components/atomic/exercise/Exercise.tsx
  frontend/src/components/atomic/item-header/ItemHeader.tsx
  frontend/src/components/atomic/muscle/Muscle.tsx
  frontend/src/components/atomic/team-member/TeamMember.tsx
  frontend/src/components/layout/exercise-item/ExerciseItem.tsx
  frontend/src/components/layout/hero/Hero.tsx
  frontend/src/components/layout/muscle-panel/MusclePanel.tsx
  frontend/src/components/layout/routine-item/RoutineItem.tsx
Owners: @raulanatol

Register Button Fixed
  frontend/src/components/layout/hero/Hero.tsx
Owners: @raulanatol

Profile Routine Fixed
  frontend/src/components/layout/profile/Profile.tsx
  frontend/src/components/layout/user-routine-panel/UserRoutinePanel.tsx
  frontend/src/utils/utils.tsx
Owners: @raulanatol

Production Mode
  frontend/src/utils/utils.tsx
Owners: @raulanatol

Navbar Fix
  frontend/src/components/layout/navbar/Navbar.tsx
  frontend/src/utils/utils.tsx
Owners: @raulanatol

Minor fixes
  frontend/src/components/layout/contact-page/ContactPage.tsx
Owners: @raulanatol

Fixed user crud panel
  frontend/src/components/layout/user-crud-panel/UserCrudPanel.tsx
Owners: @raulanatol
